<section class="generated-section generated-related">
  <h3>Related</h3>
  <p>Pages explicitly connected to this page.</p>
  <ul>
    <li><a href="/hello_world" data-previewable="true" hx-get="/metadata/previews/3979d6c13901b2e1.html" hx-trigger="preview:request" hx-target="#link-preview" hx-swap="outerSync" hx-sync="#link-preview:replace">Hello World</a><span>Hello World: first post by Ilie Ploscaru introducing the site and its themes.</span></li>
    <li><a href="/" data-previewable="true" hx-get="/metadata/previews/8a5edab282632443.html" hx-trigger="preview:request" hx-target="#link-preview" hx-swap="outerSync" hx-sync="#link-preview:replace">Ilie Ploscaru</a><span>Personal site of Ilie Ploscaru, interested in psychology and tech.</span></li>
  </ul>
</section>
